<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">



<script src="./js/angular.min.js"></script>
<script src="./data/days.json"></script>

<link rel="stylesheet" type="text/css" href="css/index.css">
<link rel="stylesheet" type="text/css" href="css/pictures.css">
</head>
<body ng-app="myApp" ng-controller="customersCtrl">

		<div class="month" ng-hide="preview">
			<span class="center">Come back in<br>December<br>2016
			</span>
		</div>
		<div class="month day{{clicked.day}}" ng-show="preview"
			ng-class="full ? 'full' : 'preview'" ng-click="full =! full">


			<div ng-class="full ? '' : 'hideLeft'" class="navigator"><</div>

		</div>

		<div class="weekdays">
			<div>
				<span class="center">M</span>
			</div>
			<div>
				<span class="center">D</span>
			</div>
			<div>
				<span class="center">M</span>
			</div>
			<div>
				<span class="center">D</span>
			</div>
			<div>
				<span class="center">F</span>
			</div>
			<div>
				<span class="center">S</span>
			</div>
			<div>
				<span class="center">S</span>
			</div>
		</div>

		<div class="days">
			<div ng-repeat="date in dates |orderBy:['year','month','day']"
				ng-class="date.month == 12 ? '' : 'light'" ng-click="click(date);">
				<span class="center" ng-hide="clicked === date">{{date.day}}</span>
				<span ng-show="clicked === date" class="cat center">M</span>
			</div>
		</div>
	<script>
		var app = angular.module('myApp', []);
		app.controller('customersCtrl', function($scope, $http) {
			$scope.full = false;
			$scope.preview = false;
			$scope.dates = days;
			$scope.click = function(date) {
				$scope.clicked = date;
				if (date.month === 12) {
					$scope.preview = true;
					$scope.full = false;
				} else {
					$scope.preview = false;
					$scope.full = false;
				}
			}
			$scope.clicked = {

				"month" : 11,
				"day" : 28,
				"year" : 2016,
				"text" : "Come back in December 2016",
				"picture" : null
			};
		});
	</script>

</body>
</html>
