@font-face {
	font-family: cat;
	src: url("../fonts/cat.ttf");
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: center;
	transition-delay: 1s;
	transition: all .2s;
	position:relative;
}

html {
	height: 100%;
	width: 100%;
}

body {
	font-family: Verdana, sans-serif;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.month {
	width: 100%;
	background: #1abc9c;
	height: 40%;
	color: white;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-shadow: 4px 3px 0 #1d9d74, 9px 8px 0 rgba(0, 0, 0, 0.15);
}

.preview {
	
}

.full {
	height: 100%;
}

.weekdays {
	height: 10%;
	background: #ddd;
}

.weekdays>div {
	float: left;
	width: 14%;
	font-size: 12px;
	color: #777;
	height: 100%;
}

.days {
	height: 50%;
	background: #eee;
}

.days>div {
	float: left;
	width: 14%;
	font-size: 12px;
	color: #777;
	height: 20%;
}

.days>div>span.cat {
	font-family: cat;
	font-size: 3em;
	color: purple;
	display: inline-block;
	width: 1em;
}

.days>div.light {
	color: #c0c0c0;
}

.navigator {
	padding: 1%;
	float: left;
	left: 2%;
	top:2%;
	position: absolute;
	transition: all 1s;
}

.hideLeft {
	left: -100px;
	position: absolute;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}